/* .ImageWrapper {
  width: 100%;
  margin: 0px 0px 0px 0px;
 }

.ImageOverlay {
  display: none;
}

.ImageOverlay {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(235, 87, 87, 0.21);
  z-index: 2;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 15px;
}

.ImageWrapperDiv:hover .ImageOverlay {
  display: flex;
} */

/* UNAVAILABLE */

/* .UnavailableOverlay {
  display: none;
}

.UnavailableOverlay {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
 background: rgba(235, 87, 87, 0.9);
  z-index: 2;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 15px;
}

.ImageWrapperDiv:hover .UnavailableOverlay {
  display: flex;
} */
/* 
.UnavailableOverlay > h4 {
  color: #ffffff;
} */
