.toggleIcon,toggleIcon:focus,toggleIcon:active{
    position: absolute;
    top:10px;
    right:10px;
    outline:none !important;
    border:none;
}

.sidemenu{
    padding:2rem;
    background: linear-gradient(180deg, #F0F2F3 20.3%, #C8DDFF 121.67%);
    box-shadow: 0px 0px 4px #8396AF;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: inherit;
   }

.admindetails{
    height:20%;   
    line-height: 20px;
    font-size: 18px;
    display: flex;
    position :relative;
    flex-direction: column;
    font-weight: 400;
    align-items: center;
    justify-content: center
   }
 
   
.menu{
    width:100%;
    height: 50px;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:height 0.3s ease;
   
}

.subMenu{
    height: 50px ;
    width:100%;
    list-style-type: none;
    font-size: 16px;
    display:flex;
    align-items:center;
}



.menuItem{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    line-height:100%;
    font-size: 18px;
    font-weight: normal;
    color:#8396AF;
    height: 6.11%;
    margin:0px auto;
    letter-spacing: 1spx;

}

.menuIcon{
    /* margin-right:10px; */
    justify-self: flex-start;
}


.menuIcon:focus{
    color:white;
}
.menuIcon{
    transition: all .3s ease;
    padding-right:10px ;
}

.dropdownHeader{
    display:flex;
    align-items:center;
    width:100%;
    justify-content: center;
    height:50px;

}

.navlink{
    display:flex;
    align-items:center;
    
}
.dropdownToggle{
    position:absolute;
    right:0px;
}
.menu:hover{
    text-decoration:none; 
    color:#007bff;
}


.dropdown{
width:100%;

}
.subcontainer{
    padding:0;
    margin-bottom: 0px;
}
.menu:focus,.menu:active{
    text-decoration:none;
    color:white;    
    background: #BBCFEA;
}

.menu:hover   a  span  {
    filter: invert(42%) sepia(87%) saturate(390%) hue-rotate(174deg) brightness(93%) contrast(91%);
}


a{
    text-decoration:none;
    color:currentColor;    
}

.active{
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    padding:-10px;
    height: 100%;
    background: #1479FF;
    color:white ;
}

.active:hover{
    color:white;
    filter:none;
}

.active  div  .menuIcon,.active   .menuIcon{
    filter:brightness(0) invert(1);

}
.menu:hover .active span{
filter:brightness(0) invert(1);
}

a:hover{
    text-decoration:none;
    color:currentColor;    
}


div:has(:first-child.active){
    color: red;

}

.subMenu:hover{
    background: #D0E4FF ;
}
.itemContainer{
    display:flex;
    position:relative;
    align-items:center;
    flex:0 0 90%;
}

.logcontainer{
    position:absolute;
    bottom:0px;
    width:100%;
    height:100px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:18px;

}

.logItem{
    width: 110px;
    cursor:pointer;
    justify-content:space-between;
    display:flex;
    line-height:22px;
    color: #8396AF;
}

.logItem:hover .menuIcon{
    filter:brightness(0) invert(1);

}

.logItem:hover .logtext{
    color:white;
}